[submodule "stm32f091/lib/STM32-base"]
	path = stm32f091/lib/STM32-base
	url = https://github.com/STM32-base/STM32-base
	ignore = all
[submodule "stm32f091/lib/STM32-base-STM32Cube"]
	path = stm32f091/lib/STM32-base-STM32Cube
	url = https://github.com/STM32-base/STM32-base-STM32Cube
	ignore = all
