copyright
**/*.o
stm32f091/main.elf
stm32f091/main.bin
**/.cache
**/compile_commands.json
client/makefile
client/client
client/moc_*
shared/main
.qmake.stash
.vscode/.cortex-debug.registers.state.json
